{% comment %}

    Accepts:
    - collection: {Object} Collection Liquid object
    - style: {String} Conditionally load different card types by passing style option

    Usage:
    {% render 'card-collection', collection: collection, style: 'not-default' %}

{% endcomment %}

{%- if collection and collection != blank -%}

  {% assign snippet_name = 'card-collection' %}
  {% assign snippet_classes = snippet_name %}
  {% assign snippet_id = snippet_name | append: '--' | append: product.id -%}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign desciption = collection.description | default: '' %}
  {% assign image = collection.image | default: false %}
  {% assign title = collection.title | default: false %}

  <article class="{{ snippet_classes }} {{ snippet_name }}--{{ style }} collection" id="{{ snippet_id }}" data-published-at="{{ collection.published_at | date: "%Y-%m-%d %H:%M:%S" }}">
    <h2 class="heading--2">{{ title }}</h2>
    <div class="body-copy--regular">{{ desciption }}</div>
  </article>

{% endif %}
