{% comment %}

    Accepts:
    - collection: {Object} Collection Liquid object
    - style: {String} Conditionally load different card types by passing style option

    Usage:
    {% render 'card-collection', collection: collection, style: 'not-default' %}

{% endcomment %}

{%- if collection and collection != blank -%}

  {% assign snippet_name = 'card-collection' %}
  {% assign snippet_classes = snippet_name %}
  {% assign snippet_id = snippet_name | append: '--' | append: collection.id -%}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign desciption = collection.description | default: '' %}
  {% assign image = collection.image | default: false %}
  {% assign title = collection.title | default: '' %}
  {% assign url = collection.url | default: '' %}

  <article class="{{ snippet_classes }} {{ snippet_name }}--{{ style }} collection" id="{{ snippet_id }}" data-published-at="{{ collection.published_at | date: "%Y-%m-%d %H:%M:%S" }}">
    <div class="{{ snippet_name }}__layout">

      {% if image %}
        <div class="{{ snippet_name }}__media">
          {% render 'lazyload-image', background: true, image: image %}
        </div>
      {% endif %}

      {% if title != blank or desciption != blank %}
        <div class="{{ snippet_name }}__content">
          {% if title != blank %}
            <h2 class="heading--2">{{ title }}</h2>
          {% endif %}
          {% if desciption != blank %}
            <div class="body-copy--regular">{{ desciption }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </article>

{% endif %}
