{% comment %}

    Accepts:
    - product: {Object} Product Liquid object
    - style: {String} Conditionally load different card types by passing style option
    - caption: {String} Description of featured image (optional)

    Usage:
    {% render 'card-product', product: product, caption: 'What an amazing caption' %}

{% endcomment %}

{%- if product and product != blank -%}

  {% assign snippet_name = 'card-product' %}
  {% assign snippet_classes = snippet_name %}
  {% assign snippet_id = snippet_name | append: '--' | append: product.id -%}
  {% assign caption = caption | default: '' %}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign available = product.available | default: false %}
  {% assign featured_image = product.featured_image | default: false %}
  {% assign price = product.price %}
  {% assign price_compare = product.compare_at_price %}
  {% assign selected_variant = product.selected_or_first_available_variant | default: false %}
  {% assign title = product.title | default: '' %}
  {% assign type = product.type | default: '' %}
  {% assign url = product.url | default: '' %}

  <article class="{{ snippet_classes }} {{ snippet_name }}--{{ style }} product" id="{{ snippet_id }}" data-published-at="{{ product.published_at | date: "%Y-%m-%d %H:%M:%S" }}" {% unless available %}data-unavailable{% endunless %}>

    {% case style %}

      {% when 'collection-product-grid' %}
        <div class="{{ snippet_name }}__featured-image product__featured-image">
          <a class="{{ snippet_name }}__featured-image-link link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if price_compare %}
            {% render 'badge', type: 'sale' %}
          {% endif %}
        </div>
        <div class="{{ snippet_name }}__info">
          <strong class="{{ snippet_name }}__title caption--2">
            <a class="{{ snippet_name }}__title-link link" href="{{ url }}" title="{{ title }}" target="_self">{{ title }}</a>
          </strong>
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
          <span class="{{ snippet_name }}__price caption--2">{% render 'price', product: product, show_symbol: true %}</strong>
        </div>
        {% if selected_variant %}
          <button
            class="{{ snippet_name }}__button button--tertiary js--add-to-cart"
            type="button"
            data-variant-id="{{ selected_variant.id }}"
            data-quantity="1"
            data-featured-image="{{ featured_image | image_url: width: 200 }}"
          >
            <span class="button__title">{% if available %}Add to Cart{% else %}Unavailable{% endif %}</span>
          </button>
        {% endif %}

      {% when 'contact-form' %}

        {% if caption != blank %}
          {% assign title = caption %}
        {% endif %}

        <div class="{{ snippet_name }}__featured-image product__featured-image">
          <a class="{{ snippet_name }}__featured-image-link link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if title != blank %}
            <div class="{{ snippet_name }}__caption caption--2">
              <strong>{{ title }}</strong>
            </div>
          {% endif %}
        </div>
{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
      {% when 'fifty-fifty' %}

        <div class="{{ snippet_name }}__featured-image product__featured-image">
          <a class="{{ snippet_name }}__featured-image-link link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if type != blank %}
            <strong class="{{ snippet_name }}__type caption--2">{{ type }}</strong>
          {% endif %}
        </div>

    {% endcase %}

  </article>

{%- endif -%}
