{%- comment -%}

    Accepts:
    - inkdex: {Int} Loop index
    - link: {Object} Link object

    Usage:
    {%- render 'navigation-item-mobile', index: forloop.index, link: link -%}

{%- endcomment -%}

{%- if link and link != blank -%}

  {%- assign active = link.active | default: false -%}
  {%- assign title = link.title | default: '' -%}
  {%- assign type = link.type | default: '' -%}
  {%- assign url = link.url | default: '' -%}
  {%- assign levels = link.levels | default: 0 -%}

  <div class="navigation__item{% if levels > 0 %} has-links{% endif %}" data-link-levels="{{ levels }}">

    {% if levels > 0 %}
      {% assign collapse_id = 'sub-navigation-collapsible--' | append: index | append: title | handleize %}
      <div class="navigation__sub-navigation sub-navigation collapsible">
        <button
          class="sub-navigation__collapse-trigger button--collapsible collapsible__trigger body-copy--large"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ collapse_id }}"
          aria-expanded="false"
          aria-controls="{{ collapse_id }}"
        >
        <span class="button__title">{{ title }}</span>
        <span class="button__icon">{% render 'svg', type: 'icon.chevron' %}</span>
      </button>
        <div class="sub-navigation__collapse-main collapsible__main collapse" id="{{ collapse_id }}">
          <div class="sub-navigation__collapse-content collapsible__content">
            {%- for sub_link in link.links -%}

              {%- assign sub_active = sub_link.active | default: false -%}
              {%- assign sub_title = sub_link.title | default: '' -%}
              {%- assign sub_type = sub_link.type | default: '' -%}
              {%- assign sub_url = sub_link.url | default: '' -%}
              {%- assign sub_links = sub_link.links | default: 0 -%}
              {%- assign sub_levels = sub_link.levels | default: 0 -%}

              <div class="sub-navigation__item">
                <a class="sub-navigation__link{% if sub_active %} active{% endif %}" href="{{ sub_url }}" title="{{ sub_title }}">{{ sub_title }}</a>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    {% else %}
       <a class="navigation__link{% if active %} active{% endif %}" href="{{ url }}" title="{{ title }}">{{ title }}</a>
    {% endif %}

  </div>

{%- endif -%}
