{% assign menu_handle = menu_handle | default: false %}

{% if menu_handle %}

  {% assign snippet_name = 'navigation' %}
  {% assign links = linklists[menu_handle].links | default: false %}
  {% assign levels = linklists[menu_handle].levels | default: 0 %}

  <nav class="{{ snippet_name }}">
    {% for link in links %}
      <div class="{{ snippet_name }}__item">
        <a class="{{ snippet_name }}__link" href="{{ link.url }}">{{ link.title }}</a>
      </div>
    {% endfor %}
  </nav>

{% endif %}
