{% comment %}

    Accepts:
    - link: {Object} Link object

    Usage:
    {% render 'navigation-item', link: link %}

{% endcomment %}

{%- if link and link != blank -%}

  {% assign active = link.active | default: false %}
  {% assign title = link.title | default: '' %}
  {% assign type = link.type | default: '' %}
  {% assign url = link.url | default: '' %}
  {% assign levels = link.levels | default: 0 %}

  <div class="navigation__item {% if levels > 0 %}has-links{% endif %}" data-link-levels="{{ link.levels }}">

    <a class="navigation__link{% if active %} active{% endif %}" href="{{ url }}" title="{{ title }}">{{ title }}</a>

    {% if levels > 0 %}
      <div class="sub-navigation">
        <div class="sub-navigation__wrapper">
          <div class="sub-navigation__media">
          <div class="sub-navigation__background-image lazyload lazyload-item lazyload-item--image lazyload-item--background"></div>
        </div>
          <div class="sub-navigation__main">

            {% for sub_link in link.links %}
              {%- assign sub_active = sub_link.active | default: false -%}
              {%- assign sub_title = sub_link.title | default: '' -%}
              {%- assign sub_type = sub_link.type | default: '' -%}
              {%- assign sub_url = sub_link.url | default: '' -%}
              {%- assign sub_links = sub_link.links | default: 0 -%}
              {%- assign sub_levels = sub_link.levels | default: 0 -%}
              {%- assign sub_featured_image = false -%}

              {%- assign sub_sub_nav_id = 'sub-sub-navigation--' | append: sub_title | handleize | append: '--' | append: forloop.index -%}
              {%- if sub_type == 'page_link' -%}
                {%- assign sub_featured_image = sub_link.object.metafields.page.featured_image.value | default: false -%}
              {%- endif %}

              <div class="sub-navigation__item{% if sub_link.links.size > 0 %} has-links{% endif %}" {% if sub_link.links.size > 0 %}data-sub-sub-nav-id="{{ sub_sub_nav_id }}"{% endif %}>
                <a
                  class="sub-navigation__link{% if sub_active %} active{% endif %}"
                  href="{{ sub_url }}"
                  data-featured-image="{% if sub_featured_image %}{{ sub_featured_image | image_url }}{% endif %}"
                >{{ sub_title }}</a>
              </div>
            {% endfor %}

          </div>

          {% if levels > 1 %}
            {% for sub_link in link.links %}

              {%- assign sub_title = sub_link.title | default: '' -%}
              {%- assign sub_sub_links = sub_link.links | default: 0 -%}
              {%- assign sub_sub_nav_id = 'sub-sub-navigation--' | append: sub_title | handleize | append: '--' | append: forloop.index -%}

              {% if sub_link.links.size > 0 %}
                <div class="sub-sub-navigation" id="{{ sub_sub_nav_id }}">
                  {% for sub_sub_link in sub_link.links %}
                    <div class="sub-sub-navigation__item">
                      <a class="sub-sub-navigation__link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

            {% endfor %}
          {% endif %}

        </div>
      </div>
    {% endif %}

  </div>

{%- endif -%}
