{% assign classes = classes | default: false %}
{% assign menu_handle = menu_handle | default: false %}

{% if menu_handle %}

  {% assign snippet_name = 'navigation' %}
  {% assign snippet_classes = snippet_name %}
  {% if classes %}
    {% assign snippet_classes = classes | append: ' ' | append: snippet_classes %}
  {% endif %}
  {% assign links = linklists[menu_handle].links | default: false %}
  {% assign levels = linklists[menu_handle].levels | default: 0 %}

  <nav class="{{ snippet_classes }}">
    {% for link in links %}

      {% assign active = link.active %}
      {% assign title = link.title %}
      {% assign type = link.type %}
      {% assign url = link.url %}

      <div class="{{ snippet_name }}__item">
        <a class="{{ snippet_name }}__link{% if active %} active{% endif %}" href="{{ url }}" title="{{ title }}">{{ title }}</a>
      </div>

    {% endfor %}
  </nav>

{% endif %}
