{% assign snippet_name = 'notification' %}

<div class="{{ snippet_name }} notification--add-to-cart">
  <div class="{{ snippet_name }}__layout">
    <div class="{{ snippet_name }}__media">
      <div class="{{ snippet_name }}__background-image lazyload lazyload-item lazyload-item--image lazyload-item--background"></div>
    </div>
    <div class="{{ snippet_name }}__content">
      <div class="{{ snippet_name }}__message">Added to Cart!</div>
      <div class="{{ snippet_name }}__product-title"></div>
    </div>
  </div>
</div>
