{%- if paginate and paginate.parts.size > 0 -%}

  {% assign snippet_name = 'pagination' %}
  {% assign snippet_classes = snippet_name %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  <nav class="{{ snippet_classes }}" role="navigation" aria-label="{{ template.name | capitalize }} Pagination">

    {% if col and col != blank %}
      {% render 'layout--container', state: 'open', col: col %}
    {% endif %}

    <div class="{{ snippet_name }}__layout">

      <div class="{{ snippet_name }}__item previous d-none">
        {%- if paginate.previous -%}
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}">
          </a>
        {%- endif -%}
      </div>

      {%- for part in paginate.parts -%}
        <div class="{{ snippet_name }}__item page">
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span>{{ part.title }}</span>
            {%- else -%}
              <span>{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endfor -%}

      <div class="{{ snippet_name }}__item next d-none">
        {%- if paginate.next -%}
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.next' | t }}" >
          </a>
        {%- endif -%}
      </div>

    </div>

    {% if col and col != blank %}
      {% render 'layout--container', state: 'closed' %}
    {% endif %}

  </nav>

{%- endif -%}
