{%- comment -%}

    Accepts:
    - classes: {String} Any combination of words
    - product: {Object} Product Liquid object,
    - style: {String} Display option for a switch case
    - show_symbol: {Boolean} Conditionally show the currency symbol

    Usage:
    {%- render 'price', classes: '',  product: product -%}

{%- endcomment -%}

{%- if product and product != blank -%}

  {%- assign available = product.available -%}
  {%- assign classes = classes | default: '' -%}
  {%- assign price = product.price -%}
  {%- assign price_compare = product.compare_at_price -%}
  {%- assign style = style | default: '' -%}
  {%- assign show_symbol = show_symbol | default: false -%}
  {%- assign symbol = shop.currency.symbol | default: '$' -%}

  <div class="{% if classes %}{{ classes }} {% endif %}price {% if show_symbol %} with-currency-symbol{% endif %}">
    <span class="price__value">
      <span class="price__currency-symbol">{{- symbol -}}</span>
{% if product.price_varies and template == 'collection' %}
  From {{ product.price_min | money }} to {{ product.price_max | money }}
{% else %}
      {{- price | money_without_currency -}}
    </span>
{% endif %}
    {%- if price_compare -%}
      <span class="price__value sale-price">
        <span class="price__currency-symbol">{{- symbol -}}</span>
        {{- price_compare | money_without_currency -}}
      </span>
    {%- endif -%}
  </div>

{%- endif -%}
