{%- if product and product != blank -%}

  {%- assign snippet_name = 'product' -%}

  {% assign description = product.description | default: '' %}
  {% assign ingredients = product.metafields.info.ingredients | default: '' %}
  {% assign standards = product.metafields.info.standards | default: '' %}
  {% assign usage = product.metafields.info.usage | default: '' %}

  <div class="{{ snippet_name }}__info">

    {% if description != blank %}
      {% assign accordion_id = 'product-info-accordion--description' %}
      <div class="{{ snippet_name }}__info-item collapsible">
        <button class="button--collapsible collapsible__trigger heading--4" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}">
          <span class="collapsible__trigger-title button__title">Description</span>
          <span class="collapsible__trigger-icon button__icon"> 
          </span>
        </button>
        <div class="collapsible__main collapse show" id="{{ accordion_id }}">
          <div class="collapsible__content body-copy--alt">{{ description }}</div>
        </div>
      </div>
    {% endif %}

  </div>

{% endif %}
