{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer login page-width">
  <h1 id="recover" class="h2" tabindex="-1">{{ 'customer.recover_password.title' | t }}</h1>
  <div>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    <form-state>
      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}
        <div class="field">
          <input
            required="required"
            class="required{% if form.errors %} invalid{% endif %}"
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
          <label class="visually-hidden" for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
        </div>
        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="form__message errors">
            {% render 'icon', icon: 'error' %}
            {{ form.errors.messages['form'] }}
          </small>
        {%- endif -%}

        <button class="button" type="submit">
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a class="link link--underline" href="#login">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      {%- endform -%}
    </form-state>
  </div>

  <h1 id="login" class="h2" tabindex="-1">{{ 'customer.login_page.title' | t }}</h1>
  <div>
    <p class="typeset">{{ 'customer.login_page.dont_have_account' | t }}
      <a href="{{ routes.account_register_url }}" class="link">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    </p>
    {%- if recover_success == true -%}
      <small class="form__message" tabindex="-1" autofocus>
        {% render 'icon', icon: 'success' %}
        {{ 'customer.recover_password.success' | t }}
      </small>
    {%- endif -%}
    <form-state>
      {%- form 'customer_login' -%}
        <div class="field">        
          <input
            required="required"
            class="required{% if form.errors contains 'form' %} invalid{% endif %}"
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
          <label class="visually-hidden" for="CustomerEmail">{{ 'customer.login_page.email' | t }}</span>
          {%- if form.errors contains 'form' -%}
            <small>
              <span class="form__message errors">
                {% render 'icon', icon: 'error' %}
                {{ form.errors.messages['form'] }}
              </span>
            </small>
          {%- endif -%}
        </div>

        {%- if form.password_needed -%}
          <div class="field">          
            <input
              required="required"
              class="required{% if form.errors contains 'form' %} invalid{% endif %}"
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.password' | t }}"
            >
            <label class="visually-hidden" for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
          </div>

          <a class="link" href="#recover">{{ 'customer.login_page.forgot_password' | t }}</a>
        {%- endif -%}

        <button class="button" type="submit">{{ 'customer.login_page.sign_in' | t }}</button>
        <a class="link link--underline" href="{{ routes.root_url }}">{{ 'customer.login_page.return' | t }}</a>
      {%- endform -%}
    </form-state>
  </div>
  
  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button class="button" type="submit">
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">TOUR DATES</h2>
      <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>New York</b></p>
            <p class="w3-opacity">Fri 27 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Paris</b></p>
            <p class="w3-opacity">Sat 28 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>San Francisco</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div>
