<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

   {% if handle contains 'privacy-policy' %}
<meta name="robots" content="noindex">
{% endif %}

{% if handle contains 'terms-of-service' %}
<meta name="robots" content="noindex">
{% endif %}

  
    <!-- Cannoical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Preconnect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ content_for_header }}

    <!-- Preload Fonts  -->
    {% render 'theme--preload-fonts', fonts: 'NeueBit-Bold, SelfModern-Italic, SelfModern-Regular' %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  		<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <script src="{{ 'vendors.min.js' | asset_url }}" async></script>
    <script>
      var Theme = Theme || {};
      Theme.product = {{ product | json }} || {};
      Theme.collection = {{ collection | json }} || {};
      Theme.imgURLFilter = function(src, size) {
        return src
          .replace(/_(pico|icon|thumb|small|compact|medium|large|grande|original|1024x1024|2048x2048|master)+\./g, '.')
          .replace(/\.jpg|\.png|\.gif|\.jpeg/g, function(match) {
            return '_'+size+match;
          })
        ;
      };
    </script>

    {% render 'theme--css-variables' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

    {{ 'custom.css' | asset_url | stylesheet_tag }}

    {{ 'responsive.css' | asset_url | stylesheet_tag }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8CELGMY4M0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8CELGMY4M0');
    </script>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {% render 'judgeme_core' %}
<!-- Global site tag (gtag.js) -  -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11004439049"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11004439049');
</script>
<!-- HOTJAR TRACKING CODE  -->
<!-- Hotjar Tracking Code for my site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3600556,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  
  </head>

  <body class="{% render 'theme--classes' %} sticky-footer updated" data-template="{{ template.name }}">

    {% section 'mobile-menu' %}
    {% section 'header' %}

    <main class="{% render 'theme--classes' %} content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ 'main.min.js' | asset_url }}" defer></script>

    {% case template %}
      {% when 'collection', 'product' %}
        <section class="add-to-cart-notification" id="add-to-cart-notification"></section>
      {% when 'product' %}
    {% endcase %}

<style>
  div#sca-promotion-message-layout {
    font-size: 25px;
}
</style>

  </body>
</html>
