<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

    <!-- Cannoical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Preconnect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <!-- Preload Fonts  -->
    {% render 'theme--preload-fonts', fonts: 'NeueBit-Bold, SelfModern-Italic, SelfModern-Regular' %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  		<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <script src="{{ 'vendors.min.js' | asset_url }}" async></script>

    {{ content_for_header }}

    {% render 'theme--css-variables' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

    {% comment %}
      ## Do we need this
      {%- if settings.predictive_search_enabled -%}
        <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
      {%- endif -%}
    {% endcomment %}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
  </head>

  <body class="{% render 'theme--classes' %} sticky-footer">

    {% section 'announcements' %}

    {% section 'header' %}

    <main class="{% render 'theme--classes' %} content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% comment %} {% case template %}
      {% when 'collection', 'product' %}
        {% render 'notification-add-to-cart' %}
    {% endcase %} {% endcomment %}

    {% comment %}
      ## Do we need this
      {%- if settings.predictive_search_enabled -%}
        <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
    {% endcomment %}

    <script src="{{ 'main.min.js' | asset_url }}" defer></script>
    {% case template %}
      {% when 'collection', 'product' %}
        <script src="{{ 'add-to-cart.min.js' | asset_url }}" defer></script>
    {% endcase %}

  </body>
</html>
