{% assign section_name = 'contact-form' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: false %}
{% assign title = section.settings.title | default: false %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}
    <div class="{{ section_name }}__main">
      {% if title != blank %}
        <h3 class="{{ section_name }}__title title--1">{{ title }}</h3>
      {% endif %}
      {% if heading != blank %}
        <div class="{{ section_name }}__heading heading--2 {% if heading_highlight %} highlight--{{ heading_highlight }}{% endif %}">{{ heading }}</div>
      {% endif %}
      {% render 'form--contact-us' %}
    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
{
	"name": "Contact Form",
	"tag": "section",
	"class": "section section--contact-form",
	"settings": [{
			"content": "Content",
			"type": "header"
		},
		{
			"label": "Heading",
			"type": "richtext",
			"id": "heading"
		},
		{
			"label": "Heading Highlight",
			"type": "select",
			"options": [{
					"value": "standard",
					"label": "Standard"
				},
				{
					"value": "stroke",
					"label": "Stroke"
				},
				{
					"value": "circle",
					"label": "Circle"
				}
			],
			"default": "standard",
			"id": "heading_highlight"
		},
		{
			"label": "Message",
			"type": "richtext",
			"id": "message"
		},
		{
			"content": "Settings",
			"type": "header"
		},
		{
			"label": "Anchor ID",
			"info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
			"type": "text",
			"id": "anchor_id"
		}
	],
	"blocks": [],
	"presets": [{
		"name": "Contact Form"
	}]
}
{% endschema %}
