{% assign section_name = 'featured-product' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign aside_heading = section.settings.aside_heading | default: '' %}
{% assign aside_message = section.settings.aside_message | default: '' %}
{% assign aside_subheading = section.settings.aside_subheading | default: '' %}
{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: '' %}
{% assign image = section.settings.image | default: false %}
{% assign markers = section.blocks | where: 'type', 'marker' | default: false %}
{% assign message = section.settings.message | default: '' %}
{% assign product = section.settings.product | default: false %}
{% assign product_icon = product.metafields.product.icon | default: false %}
{% assign product_link = product.url | default: '' %}
{% assign product_title = product.title | default: '' %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-padding>

  {% if markers %}
    <div class="{{ section_name }}__markers">
      {% for block in markers %}

        {% assign title = block.settings.title | default: '' %}

        {% if title != blank %}
          <div class="{{ section_name }}__markers-item">{{ title }}</div>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}

  {% render 'bs-container' %}
    <div class="{{ section_name }}__layout">

      {% if heading != blank or message != blank %}
        <div class="{{ section_name }}__main">
          {%
            render 'heading-highlight',
            classes: 'cards-feature__heading intro__heading heading--2',
            heading: heading,
            style: heading_highlight,
            tag: 'h2'
          %}
          {% if message != blank %}
            <div class="{{ section_name }}__message intro__message body-copy--large">{{ message }}</div>
          {% endif %}
        </div>
      {% endif %}

      {% if image %}
        <div class="{{ section_name }}__media">
          {%
            render 'lazyload-image',
            alt_text: heading,
            image: image,
          %}
        </div>
      {% endif %}

      {% if aside_heading != blank or aside_message != blank or aside_subheading %}
        <div class="{{ section_name }}__aside">
          {% if product_icon %}
            <div class="{{ section_name }}__aside-icon">
              {%
                render 'lazyload-image',
                alt_text: product_title,
                image: product_icon,
              %}
            </div>
          {% endif %}
          {% if aside_heading %}<strong class="{{ section_name }}__aside-heading title--1">{{ aside_heading }}</strong>{% endif %}
          {% if aside_subheading %}<strong class="{{ section_name }}__aside-subheading title--1">{{ aside_subheading }}</strong>{% endif %}
          {% if aside_message %}<div class="{{ section_name }}__aside-message body-copy--alt-small">{{ aside_message }}</div>{% endif %}
          {% if product %}
            <div class="{{ section_name }}__cta d-lg-none">
              <a class="{{ section_name }}__cta-button button--primary" href="{{ product_link }}" title="{{ product_title }}">
                <span class="button__title">Shop {{ product_title }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Featured Product",
  "tag": "section",
  "class": "section section--featured-product",
  "settings": [
    {
      "content": "Product",
      "type": "header"
    },
    {
      "label": "Product",
      "type": "product",
      "id": "product"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    },
    {
      "label": "Message",
      "info": "For optimal results, keep content within 250 characters.",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Aside",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "aside_heading"
    },
    {
      "label": "Subheading",
      "type": "text",
      "id": "aside_subheading"
    },
    {
      "label": "Message",
      "info": "For optimal results, keep content within 125 characters.",
      "type": "richtext",
      "id": "aside_message"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "grey", "label": "Grey" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "colour_theme"
    }
  ],
  "blocks": [
    {
      "name": "Marker",
      "type": "marker",
      "limit": 4,
      "settings": [
        {
          "label": "Title",
          "type": "text",
          "id": "title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}
