{% assign section_name = 'fifty-fifty-custom-content' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign aos_transition_content = 'fade-right' %}
{% assign aos_transition_image = 'fade-left' %}
{% assign colour_theme = section.settings.colour_theme | default: 'light' %}
{% assign content = section.settings.content | default: '' %}
{% assign cta_title = section.settings.cta_title | default: false %}
{% assign cta_link = section.settings.cta_link | default: false %}
{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: 'standard' %}
{% assign hide_image_mobile = section.settings.hide_image_mobile | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign layout = section.settings.layout | default: 'image-right' %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% if 'image-left' == layout %}
  {% assign aos_transition_content = 'fade-left' %}
  {% assign aos_transition_image = 'fade-right' %}
{% endif %}

<div
  class="{{ section_name }}"
  id="{{ section_id }}"
  data-layout="{{ layout }}"
  data-colour-theme-{{ colour_theme }}
  data-layout-{{ layout }}
  data-section-padding
>
  <div class="{{ section_name }}__main">
    {% unless style == 'wide' %}{% render 'bs-container' %}{% endunless %}

      <div class="{{ section_name }}__layout">

      {% if heading != blank or message != blank or title != blank %}

        {% capture aos %}
          {%
            render 'aos-attributes',
            anchor: section_id,
            anchor_placement: 'top-bottom',
            delay: 150,
            duration: 1500,
            easing: 'ease-in-out',
            offset: 0,
            once: 'true',
            transition: aos_transition_content,
          %}
        {% endcapture %}

        <div class="{{ section_name }}__content" {{ aos }}>

          {% if heading != blank %}
            <h2 class="{{ section_name }}__heading intro__heading heading--2 {% if heading_highlight %} highlight--{{ heading_highlight }}{% endif %}">{{ heading }}</h2>
          {% endif %}

          {% if content != blank %}
            <div class="{{ section_name }}__message body-copy--regular">{{ content }}</div>
          {% endif %}

          {% if cta_title and cta_link %}
            <div class="{{ section_name }}__cta">
              <a class="{{ section_name }}__cta-button button--primary" href="{{ cta_link }}" title="{{ cta_title }}">
                <span class="button__title">{{ cta_title }}</span>
              </a>
            </div>
          {% endif %}

        </div>
      {% endif %}

      {% if image %}

        {% capture aos %}
          {%
            render 'aos-attributes',
            anchor: section_id,
            anchor_placement: 'top-bottom',
            delay: 0,
            duration: 1500,
            easing: 'ease-in-out',
            offset: 0,
            once: 'true',
            transition: aos_transition_image,
          %}
        {% endcapture %}

        <div class="{{ section_name }}__image {% if hide_image_mobile %}d-none d-lg-block{% endif %}" {{ aos }}>
          {% render 'lazyload-image', image: image %}
        </div>
      {% endif %}

    </div>

    {% unless style == 'wide' %}{% render 'bs-container', state: 'closed' %}{% endunless %}
  </div>
</div>

{% schema %}
{
  "name": "Fifty-Fifty Feature",
  "tag": "section",
  "class": "section section--fifty-fifty-feature",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    },
    {
      "label": "Content",
      "info": "Include HTML elements here. For optimal results, keep content within 250 characters.",
      "type": "html",
      "id": "content"
    },
    {
      "content": "Call to Action",
      "type": "paragraph"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Hide on mobile",
      "type": "checkbox",
      "id": "hide_image_mobile",
      "default": false
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Layout",
      "type": "select",
      "options": [
        { "value": "image-right", "label": "Image Right" },
        { "value": "image-left", "label": "Image Left" }
      ],
      "default": "image-right",
      "id": "layout"
    },
    {
      "label": "Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "grey", "label": "Grey" }
      ],
      "default": "light",
      "id": "colour_theme"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Fifty-Fifty Custom Content"
    }
  ]
}
{% endschema %}
