{% assign section_name = 'fifty-fifty-framed' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign aos_id = section_id | append: '--aos' %}
{% assign aos_transition_content = 'fade-right' %}
{% assign aos_transition_image = 'fade-in' %}
{% assign aos_delay = 500 %}
{% assign aos_delay_increment = 250 %}

{% assign colour_theme = section.settings.colour_theme | default: 'light' %}
{% assign cta_style = 'button--primary' %}
{% assign cta_title = section.settings.cta_title | default: false %}
{% assign cta_link = section.settings.cta_link | default: false %}
{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: 'standard' %}
{% assign image = section.settings.image | default: false %}
{% assign layout = section.settings.layout | default: 'image-right' %}
{% assign message = section.settings.message | default: '' %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% assign columns = 'col-12 col-lg-6' %}
{% if 'image-left' == layout %}
  {% assign columns = 'col-12 col-lg-6 offset-lg-6' %}
  {% assign aos_transition_content = 'fade-left' %}
{% endif %}

{% if 'dark' == colour_theme %}
  {% assign cta_style = 'button--outlined-light' %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}" data-colour-theme-{{ colour_theme }} data-layout-{{ layout }} data-layout="{{ layout }}">
  <div class="{{ section_name }}__layout">

    {% if image %}
      {% capture aos %}
        {%
          render 'aos-attributes',
          anchor: aos_id,
          anchor_placement: 'top-center',
          delay: aos_delay,
          transition: aos_transition_image,
        %}
      {% endcapture %}
      {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
      <div class="{{ section_name }}__image" {{ aos }}>
        {% render 'lazyload-image', background: true, image: image %}
      </div>
    {% endif %}

    {% if heading != blank or message != blank %}
      <div class="{{ section_name }}__main">
        {% render 'bs-container', state: 'open', col: columns, container: 'container-fluid' %}

          <div class="{{ section_name }}__content intro">
            {% if heading != blank %}
              {% capture aos %}
                {%
                  render 'aos-attributes',
                  anchor: aos_id,
                  anchor_placement: 'top-center',
                  delay: aos_delay,
                  transition: 'fade-left',
                %}
              {% endcapture %}
              {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
              <h2 class="{{ section_name }}__heading intro__heading heading--2 {% if heading_highlight %} highlight--{{ heading_highlight }}{% endif %}" {{ aos }}>{{ heading }}</h2>
            {% endif %}
            {% if message != blank %}
              {% capture aos %}
                {%
                  render 'aos-attributes',
                  anchor: aos_id,
                  anchor_placement: 'top-center',
                  delay: aos_delay,
                  transition: 'fade-left',
                %}
              {% endcapture %}
              {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
              <div class="{{ section_name }}__message intro__message body-copy--regular" {{ aos }}>{{ message }}</div>
            {% endif %}
            {% if cta_title and cta_link %}
              {% capture aos %}
                {%
                  render 'aos-attributes',
                  anchor: aos_id,
                  anchor_placement: 'top-center',
                  delay: aos_delay,
                  transition: 'fade-left',
                %}
              {% endcapture %}
              {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
              <div class="{{ section_name }}__cta intro__cta" {{ aos }}>
                <a class="{{ section_name }}__cta-button {{ cta_style }}" href="{{ cta_link }}" title="{{ cta_title }}">
                  <span class="button__title">{{ cta_title }}</span>
                </a>
              </div>
            {% endif %}
          </div>

        {% render 'bs-container', state: 'closed' %}
      </div>
    {% endif %}

    <div class="{{ section_name }}__vr">
      <span class="text">Live</span>
      <span class="line"></span>
      <span class="text">To</span>
      <span class="line last"></span>
      <span class="text last">Move</span>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Framed Fifty-Fifty",
  "tag": "section",
  "class": "section section--fifty-fifty-framed",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    },
    {
      "label": "Message",
      "info": "For optimal results, keep content within 250 characters.",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Call to Action",
      "type": "paragraph"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Layout",
      "type": "select",
      "options": [
        { "value": "image-right", "label": "Image Right" },
        { "value": "image-left", "label": "Image Left" }
      ],
      "default": "image-right",
      "id": "layout"
    },
    {
      "label": "Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "grey", "label": "Grey" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "colour_theme"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Framed Fifty-Fifty"
    }
  ]
}
{% endschema %}
