{% assign section_name = 'fifty-fifty-feature' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign cta_title = section.settings.cta_title | default: false %}
{% assign cta_link = section.settings.cta_link | default: false %}
{% assign heading = section.settings.heading | default: false %}
{% assign hide_image_mobile = section.settings.hide_image_mobile | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign message = section.settings.message | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-height="{{ height }}">
  <div class="{{ section_name }}__main">
    {% render 'layout--container' %}

      {% if heading or message %}
        <div class="{{ section_name }}__content">

          {% if heading %}
            <h2 class="{{ section_name }}__heading heading--2">{{ heading }}</h2>
          {% endif %}

          {% if message %}
            <div class="{{ section_name }}__message body-copy--m">{{ message }}</div>
          {% endif %}

          {% if cta_title and cta_link %}
            <div class="{{ section_name }}__cta">
              <a class="button button--primary" href="{{ cta_link }}" title="{{ cta_title }}">
                <span class="button__title">{{ cta_title }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if image %}
        <div class="{{ section_name }}__image {% if hide_image_mobile %}d-none d-lg-block{% endif %}">
          {% render 'content--lazyload-image', image: image %}
        </div>
      {% endif %}

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>

{% schema %}
{
  "name": "Fifty-Fifty Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
     {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Call to Action",
      "type": "paragraph"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Hide on mobile",
      "type": "checkbox",
      "id": "hide_image_mobile",
      "default": false
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Layout",
      "type": "select",
      "options": [
        {
          "value": "image-right", "label": "Image Right"
        },
        {
          "value": "image-left", "label": "Image Left"
        }
      ],
      "default": "image-right",
      "id": "layout"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Fifty-Fifty Feature"
    }
  ]
}
{% endschema %}
