{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign contact_email = section.settings.email | default: false %}
{% assign contact_phone = section.settings.phone | default: false %}
{% assign extra_menu = section.settings.extra_menu | default: false %}
{% assign main_menu = section.settings.menu_menu | default: false %}
{% assign policies_menu = section.settings.policies_menu | default: false %}
{% assign social_link_facebook = settings.social_link_facebook | default: false %}
{% assign social_link_instagram = settings.social_link_instagram | default: false %}
{% assign social_link_twitter = settings.social_link_twitter | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">
    {% render 'layout--container' %}
      <div class="{{ section_name }}__layout">

        <div class="{{ section_name }}__brand">
          <a href="/" target="_self" title="Home">
            {% render 'svg', type: 'brand.logo.small' %}
          </a>
        </div>

        <div class="{{ section_name }}__menus">
          {% if main_menu %}
            {% render 'navigation', classes: 'footer__menus-main navigation--circle', menu_handle: main_menu %}
          {% endif %}
          {% if extra_menu %}
            {% render 'navigation', classes: 'footer__menus-extra navigation--circle', menu_handle: extra_menu %}
          {% endif %}
        </div>

        <div class="{{ section_name }}__contact">

          {% if social_link_facebook or social_link_instagram or social_link_twitter %}
            <nav class="{{ section_name }}__social navigation">
              {% if social_link_instagram %}
                <div class="navigation__item">
                  <a href="{{ social_link_instagram }}" target="_blank" title="{{ shop.name }} Instagram Acccount">
                    {% render 'svg', type: 'icon.instagram' %}
                  </a>
                </div>
              {% endif %}
              {% if social_link_twitter %}
                <div class="navigation__item">
                  <a href="{{ social_link_twitter }}" target="_blank" title="{{ shop.name }} Twitter Acccount">
                    {% render 'svg', type: 'icon.twitter' %}
                  </a>
                </div>
              {% endif %}
              {% if social_link_facebook %}
                <div class="navigation__item">
                  <a href="{{ social_link_facebook }}" target="_blank" title="{{ shop.name }} Facebook Acccount">
                    {% render 'svg', type: 'icon.facebook' %}
                  </a>
                </div>
              {% endif %}
            </nav>
          {% endif %}

          {% if contact_email or contact_phone %}
            <div class="{{ section_name }}__contact-details">
              {% if contact_email %}
                <a href="mailto:{{ contact_email }}" target="" title="Email {{ shop.name }}">{{ contact_email }}</a>
              {% endif %}
              {% if contact_phone %}
                <a href="tel:{{ contact_phone }}" target="" title="Call {{ shop.name }}">{{ contact_phone }}</a>
              {% endif %}
            </div>
          {% endif %}

        </div>

      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
      {
        "content": "Contact Info",
        "type": "header"
      },
      {
        "label": "Phone",
        "type": "text",
        "id": "phone"
      },
      {
        "label": "Email",
        "type": "text",
        "id": "email"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_menu"
      },
      {
        "label": "Extra Menu",
        "type": "link_list",
        "id": "extra_menu"
      },
      {
        "label": "Policies Menu",
        "type": "link_list",
        "id": "policies_menu"
      }
    ],
	  "blocks": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
