{% assign section_name = 'full-width-feature' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign cta = false %}
{% assign cta_link = section.settings.cta_link | default: '' %}
{% assign cta_title = section.settings.cta_title | default: '' %}
{% assign curved_arrow_enable = section.settings.curved_arrow_enable | default: false %}
{% assign heading = section.settings.heading | default: '' %}
{% assign height = section.settings.height | default: 'auto' %}
{% assign heading_highlight = section.settings.heading_highlight | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign message = section.settings.message | default: false %}
{% assign parallax = section.settings.parallax | default: false %}
{% assign text_theme = section.settings.text_theme | default: 'light' %}
{% assign title = section.settings.title | default: false %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% if cta_link != blank and cta_title != blank %}
  {% assign cta = true %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-height="{{ height }}" data-text-theme="{{ text_theme }}">

  <div class="{{ section_name }}__media">
    {% if parallax %}<div class='{{ section_name }}__media-clip media__clip'>{% endif %}
      {%
        render 'lazyload-image',
        background: true,
        classes: 'full-width-feature__background-image',
        image: image,
        preload: true,
        responsive: true,
        duration: 500,
      %}
    {% if parallax %}</div>{% endif %}
  </div>

  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2' %}

      {% if title != blank %}
        <strong class="{{ section_name }}__title title--1">{{ title }}</strong>
      {% endif %}

      {% if heading != blank %}
        <div class="{{ section_name }}__heading heading--2 {% if heading_highlight %} highlight--{{ heading_highlight }}{% endif %}">{{ heading }}</div>
      {% endif %}

      {% if message != blank %}
        <div class="{{ section_name }}__message body-copy--regular">{{ message }}</div>
      {% endif %}

      {% if cta_title != blank and cta_link != blank %}
        <div class="{{ section_name }}__cta">
          <a class="{{ section_name }}__cta-button button--primary" href="{{ cta_link }}" title="{{ cta_title }}">
            <span class="button__title">{{ cta_title }}</span>
          </a>
        </div>
      {% endif %}

    {% render 'bs-container', state: 'closed' %}
  </div>

  {% if curved_arrow_enable %}
    <div class="{{ section_name }}__curved-arrow">
      <div class="{{ section_name }}__curved-arrow-icon">
        {% render 'svg', type: 'icon.arrow-curved-path' %}
      </div>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section section--full-width-feature",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Text Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "text_theme"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Call to Action",
      "type": "paragraph"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "cta_link"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Parallax",
      "type": "checkbox",
      "id": "parallax",
      "default": false
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Height",
      "type": "select",
      "options": [
        { "value": "large", "label": "Large" },
        { "value": "auto", "label": "Auto" }
      ],
      "default": "auto",
      "id": "height"
    },
    {
      "label": "Enable Curved Arrow",
      "type": "checkbox",
      "default": false,
      "id": "curved_arrow_enable"
    }
  ],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
