{% assign section_name = 'full-width-feature' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign height = section.settings.height | default: 'auto' %}
{% assign image = section.settings.image | default: false %}
{% assign message = section.settings.message | default: '' %}
{% assign title = section.settings.title | default: '' %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-height="{{ height }}">
  <div class="{{ section_name }}__media">
    {%
      render 'content--lazyload-image',
      alt_text: title,
      background: true,
      classes: 'sample-class',
      image: image,
      preload: true,
      responsive: true,
      duration: 500,
    %}
  </div>
  <div class="{{ section_name }}__main">
    {% render 'layout--container' %}

      {% if title != blank %}
        <h3 class="{{ section_name }}__title title--1">{{ title }}</h3>
      {% endif %}

      {% if message != blank %}
        <div class="{{ section_name }}__heading heading--2">{{ message }}</div>
      {% endif %}

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Height",
      "type": "select",
      "options": [
        {
          "value": "large", "label": "Large"
        },
        {
          "value": "small", "label": "Small"
        },
        {
          "value": "auto", "label": "Auto"
        }
      ],
      "default": "auto",
      "id": "height"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
