{% assign section_name = 'full-width-feature' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign anchor_id = section.settings.anchor_id | default: false %}
{% assign height = section.settings.height | default: 'auto' %}
{% assign highlight = section.settings.highlight | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign message = section.settings.message | default: '' %}
{% assign parallax = section.settings.parallax | default: false %}
{% assign title = section.settings.title | default: false %}

{% if section.settings.anchor_id %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-height="{{ height }}">
  <div class="{{ section_name }}__media">
    {% if parallax %}<div class='{{ section_name }}__media-clip media__clip'>{% endif %}
      {%
        render 'content--lazyload-image',
        background: true,
        classes: 'full-width-feature__background-image',
        image: image,
        preload: true,
        responsive: true,
        duration: 500,
      %}
    {% if parallax %}</div>{% endif %}
  </div>
  <div class="{{ section_name }}__main">
    {% render 'layout--container' %}

      {% if title != blank %}
        <h3 class="{{ section_name }}__title title--1">{{ title }}</h3>
      {% endif %}

      {% if message != blank %}
        <div class="{{ section_name }}__heading heading--2 {% if highlight %} highlight--{{ highlight }}{% endif %}">{{ message }}</div>
      {% endif %}

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section section--full-width-feature",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "label": "Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "highlight"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Parallax",
      "type": "checkbox",
      "id": "parallax",
      "default": false
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Height",
      "type": "select",
      "options": [
        {
          "value": "large", "label": "Large"
        },
        {
          "value": "auto", "label": "Auto"
        }
      ],
      "default": "auto",
      "id": "height"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
