{% assign section_name = 'header' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign menu_main = section.settings.menu_main | default: false %}

<div class="{{ section_name }}__main">

  <div class="{{ section_name }}__brand">
    <a href="/" target="_self" title="Home">
      {% render 'svg', type: 'brand.logo.circle' %}
    </a>
  </div>

  {% if menu_main %}
    <nav class="{{ section_name }}__main-navigation navigation navigation--main">
      {% for link in linklists[menu_main].links %}
        {% render 'navigation-item', link: link %}
      {% endfor %}
    </nav>
  {% endif %}

  <nav class="{{ section_name }}__cart-navigation navigation navigation--cart">
    <div class="navigation__item">
      <a class="navigation__link link" href="/cart" title="Cart">
        <span class="link__icon">{% render 'svg', type: 'icon.cart' %}</span>
        <span class="link__title js--cart-items-total">({{ cart.item_count }})</span>
      </a>
    </div>
  </nav>

  <button class="{{ section_name }}__button button d-lg-none js--mobile-menu-trigger" type="button">
    <span class="button__title">Menu</span>
    <span class="button__icon">{% render 'svg', type: 'icon.plus' %}</span>
  </button>

</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      }
    ],
	  "blocks": []
  }
{% endschema %}
