{% assign section_name = 'instagram-feed' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign feed_account = section.settings.feed_account | default: 'verypoliteagency' %}
{% assign feed_limit = section.settings.feed_limit | default: 5 %}
{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}" data-section-padding>
  {% render 'bs-container', state: 'open', container: 'container-fluid' %}

    <div class="{{ section_name }}__intro intro">
      <div class="{{ section_name }}__heading heading--2 {% if heading_highlight %} highlight--{{ heading_highlight }}{% endif %}">{{ heading }}</div>
    </div>

    <div
      class="{{ section_name }}__main main js--instagram-feed"
      data-instagram-feed-account="{{ feed_account }}"
      data-instagram-feed-limit="{{ feed_limit }}"
    >
      <!-- Inject Instagram Feed Here... -->
    </div>

    <div class="{{ section_name }}__cta"></div>

  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "tag": "section",
  "class": "section section--instagram-feed",
  "limit": 1,
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Account",
      "info": "Name of instagram account",
      "type": "text",
      "default": "verypoliteagency",
      "id": "feed_account"
    },
    {
      "label": "Feed limit",
      "info": "Maximum number of images to show",
      "type": "range",
      "min": 3,
      "max": 9,
      "step": 1,
      "default": 5,
      "id": "feed_limit"
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed"
    }
  ]
}
{% endschema %}
