{%- assign section_name = 'cart' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: 'Cart' %}

<div class="{{ section__name }}__hero">
  {% render 'bs-container', state: 'open' %}
    <h1>{{ hero_heading }}</h1>
  {% render 'bs-container', state: 'closed' %}
</div>

<div class="{{ section__name }}__body">
  {% render 'bs-container', state: 'open' %}

    {% if cart == empty %}

      <div class="{{ section__name }}__empty">
        <h2>It looks like your bag is empty.</h2>
        <p>Let's fix that. Shop our latest collection here.</p>
      </div>

    {% else %}

      <form class="{{ section__name }}__summary" action="{{ routes.cart_url }}" method="post" id="cart">

        {%- for item in cart.items -%}

          <div class="stepper">
            <button class="" name="minus" type="button">–</button>
            <input class=""
              type="number"
              name="updates[]"
              value="{{ item.quantity }}"
              min="0"
              id="quantity-{{ item.index | plus: 1 }}"
              data-index="{{ item.index | plus: 1 }}"
            >
            <button class="" name="plus" type="button">+</button>
          </div>

          <div id="remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
            <a href="{{ item.url_to_remove }}" class="button button--tertiary">Remove</a>
          </div>

        {%- endfor -%}

        <button type="submit" class="button--secondary">Update</button>
        <button type="submit" class="button--secondary" name="checkout">Checkout</button>

        {%- if additional_checkout_buttons -%}
          <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {%- endif -%}

      </form>

    {% endif %}

  {% render 'bs-container', state: 'closed' %}
</div>

<script src="{{ 'cart.min.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Cart",
  "tag": "div",
  "class": "cart",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "content": "Empty Cart",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "empty_heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "empty_message"
    }
  ]
}
{% endschema %}
