{%- assign section_name = 'collection-product-grid' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {%- paginate collection.products by section.settings.products_per_page -%}

    {%- if collection.products.size == 0 -%}
      <div class="{{ section_name }}__main">
        {% render 'bs-container', state: 'open' %}
          <h2 class="{{ section_name }}__heading">It looks like there are no products that match the criteria!</h2>
        {% render 'bs-container', state: 'closed' %}
      </div>
    {%- else -%}

      <div class="{{ section_name }}__main">
        {% render 'bs-container', state: 'open' %}
          <div class="{{ section_name }}__sort-filter">
            <select class="{{ section_name }}__sort-filter-options select--primary" id="sort-by">
              {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
              {% for option in collection.sort_options %}
                <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{%- render 'sort-option-name', option_value: option.value -%}</option>
              {% endfor %}
            </select>
          </div>
          <div class="{{ section_name }}__listing listing--{{ section_name }}">
            {%- for product in collection.products -%}
              {% render 'card-product', product: product, style: section_name %}
            {%- endfor -%}
          </div>
        {% render 'bs-container', state: 'closed' %}
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}

    {%- endif -%}

  {%- endpaginate -%}
</div>

<script src="{{ 'add-to-cart.min.js' | asset_url }}" defer="defer"></script>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    Shopify.queryParams.sort_by = e.target.value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });

{% endjavascript %}

{% schema %}
{
  "name": "Collection Product Grid",
  "class": "section section--collection-product-grid",
  "settings": [
    {
      "label": "Products per Page",
      "type": "select",
      "options": [
        { "value": "4", "label": "4" },
        { "value": "12", "label": "12" },
        { "value": "16", "label": "16" },
        { "value": "20", "label": "20" },
        { "value": "24", "label": "24" }
      ],
      "default": "4",
      "id": "products_per_page"
    }
  ]
}
{% endschema %}
