{%- assign section_name = 'blog' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: '' %}
{% assign hero_heading_highlight = section.settings.hero_heading_highlight | default: false %}
{% assign hero_image = section.settings.hero_image | default: false %}

{%- paginate blog.articles by 3 -%}

  {% if hero_heading != blank or hero_image %}
    <div class="{{ section_name }}__hero">
      {% if hero_image %}
        <div class="{{ section_name }}__hero-media">
          {%
            render 'content--lazyload-image',
            background: true,
            classes: 'blog__background-image',
            image: hero_image,
          %}
        </div>
      {% endif %}
      {% if hero_heading != blank %}
        <div class="{{ section_name }}__hero-content">
          {% if hero_heading != blank %}
            <div class="{{ section_name }}__heading heading--2 {% if hero_heading_highlight %} highlight--{{ hero_heading_highlight }}{% endif %}">{{ hero_heading }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="{{ section_name }}__main">
    {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
      <div class="{{ section_name }}__list listing--{{ section_name }}" data-paginate-pages-current="{{ paginate.current_page }}" data-paginate-pages="{{ paginate.pages }}">
        {%- for article in blog.articles -%}
          {% assign card_style = section_name %}
          {% if forloop.index == 1 and paginate.current_page == 1 %}
            {% assign card_style = section_name | append: '--featured' %}
          {% endif %}
          {%- render 'card-article', article: article, classes: 'blog__article', style: card_style -%}
        {%- endfor -%}
      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', classes: 'blog__pagination' col: 'col-12 col-lg-10 offset-lg-1', paginate: paginate -%}
  {%- endif -%}

{%- endpaginate -%}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Blog",
  "tag": "div",
  "class": "blog",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "content": "Content",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "hero_heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "hero_heading_highlight"
    },
    {
      "content": "Media",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "hero_image"
    }
  ]
}
{% endschema %}
