{% assign section_name = 'password-main' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign colour_theme = section.settings.colour_theme | default: 'light' %}

<div class="{{ section_name }}" id="{{ section_id }}" data-colour-theme-{{ colour_theme }}>
  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}
      <div class="{{ section_name }}__layout">

        {% capture aos %}
          {%
            render 'aos-attributes',
            anchor: section_id,
            anchor_placement: 'top-center',
            delay: 150,
            duration: 1500,
            easing: 'ease-in-out',
            offset: 100,
            once: 'true',
            transition: 'fade-up',
          %}
        {% endcapture %}

        <div class="{{ section_name }}__brand" {{ aos }}>
          {% render 'svg', type: 'brand.logo.large' %}
        </div>

        <div class="{{ section_name }}__form">
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
              <input
                type="password"
                name="password"
                id="Password"
                class="field__input"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                </div>
              {%- endif -%}
            </div>
            <button name="commit" class="password-button button button--outline">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          {%- endform -%}
         </div>

        <div class="{{ section_name }}__cta">
          <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
        </div>

      </div>
    {% render 'bs-container', state: 'closed' %}
  </div>
</div>

{% schema %}
{
  "name": "Password main",
  "tag": "section",
  "class": "section section--password",
  "settings": [
    {
      "label": "Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "grey", "label": "Grey" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "colour_theme"
    }
  ],
  "blocks": []
}
{% endschema %}
