{%- assign section_name = 'product' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign description = product.description | default: '' %}
{% assign gallery = false %}
{% assign gallery_id = 'product-gallery--' | append: section.id %}
{% assign gallery_style = 'product-gallery' %}
{% assign ingredients = product.metafields.info.ingredients | default: '' %}
{% assign standards = product.metafields.info.standards | default: '' %}
{% assign usage = product.metafields.info.usage | default: '' %}

{% if product.images.size > 1 %}
  {% assign gallery = true %}
{% endif %}

{% render 'json-ld', article: product, type: 'product' %}

<div class="{{ section_name }}" itemscope itemtype="http://schema.org/Product">
  {% render 'bs-container', state: 'open' %}
    <div class="row row--inner">

    <div class="{{ section_name }}__info col-12 col-lg-6 order-lg-2">
      <h1 class="product__title heading--2">{{ product.title }}</h1>
      <strong class="product__type title--1">{{ product.type }}</strong>
      {% render 'price', product: product %}
    </div>

    {% if product.images.size > 0 %}
      <div class="{{ section_name }}__gallery col-12 col-lg-6 order-lg-1">
        {% if gallery %}<div class="glide js--glider" id="{{ gallery_id }}" data-glide-style="{{ gallery_style }}">{% endif %}
          {% if gallery %}<div class="glide__track" data-glide-el="track">{% endif %}
            {% if gallery %}<ul class="glide__slides">{% endif %}

              {% for image in product.images %}
                {% if gallery %}<li class="glide__slide">{% endif %}
                  <div class="product__image">
                    {%
                      render 'lazyload-image',
                      alt_text: product.title,
                      image: image,
                    %}
                  </div>
                {% if gallery %}</li>{% endif %}
              {% endfor %}

            {% if gallery %}</ul>{% endif %}
          {% if gallery %}</div>{% endif %}

          {% if gallery %}
            <div class="glide__bullets" data-glide-el="controls[nav]">
              {% for image in product.images %}
                <button class="glide__bullet" data-glide-dir="={{ forloop.index0 }}"></button>
              {% endfor %}
            </div>
          {% endif %}

      {% if gallery %}</div>{% endif %}
      </div>
    {% endif %}

    <div class="{{ section_name }}__info">
      {% if description != blank %}
        {% assign accordion_id = 'product-info-accordion--description' %}
        <div class="{{ section_name }}__info-item collapsible">
          <button class="button--collapsible collapsible__trigger heading--4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}">
            <span class="button__title">Description</span>
            <span class="button__icon">
              <span class="button__icon-plus">{% render 'svg', type: 'icon.plus' %}</span>
              <span class="button__icon-minus">{% render 'svg', type: 'icon.minus' %}</span>
            </span>
          </button>
          <div class="collapsible__main collapse" id="{{ accordion_id }}" style="">
            <div class="collapsible__content body-copy--regular">{{ description }}</div>
          </div>
        </div>
      {% endif %}
      {% if ingredients != blank %}
        {% assign accordion_id = 'product-info-accordion--ingredients' %}
        <div class="{{ section_name }}__info-item collapsible">
          <button class="button--collapsible collapsible__trigger heading--4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}">
            <span class="button__title">Ingredients</span>
            <span class="button__icon">
              <span class="button__icon-plus">{% render 'svg', type: 'icon.plus' %}</span>
              <span class="button__icon-minus">{% render 'svg', type: 'icon.minus' %}</span>
            </span>
          </button>
          <div class="collapsible__main collapse" id="{{ accordion_id }}" style="">
            <div class="collapsible__content body-copy--regular">{{ ingredients }}</div>
          </div>
        </div>
      {% endif %}
      {% if usage != blank %}
        {% assign accordion_id = 'product-info-accordion--usage' %}
        <div class="{{ section_name }}__info-item collapsible">
          <button class="button--collapsible collapsible__trigger heading--4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}">
            <span class="button__title">How to Use</span>
            <span class="button__icon">
              <span class="button__icon-plus">{% render 'svg', type: 'icon.plus' %}</span>
              <span class="button__icon-minus">{% render 'svg', type: 'icon.minus' %}</span>
            </span>
          </button>
          <div class="collapsible__main collapse" id="{{ accordion_id }}" style="">
            <div class="collapsible__content body-copy--regular">{{ usage }}</div>
          </div>
        </div>
      {% endif %}
      {% if standards != blank %}
        {% assign accordion_id = 'product-info-accordion--standards' %}
        <div class="{{ section_name }}__info-item collapsible">
          <button class="button--collapsible collapsible__trigger heading--4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}">
            <span class="button__title">Standards</span>
            <span class="button__icon">
              <span class="button__icon-plus">{% render 'svg', type: 'icon.plus' %}</span>
              <span class="button__icon-minus">{% render 'svg', type: 'icon.minus' %}</span>
            </span>
          </button>
          <div class="collapsible__main collapse" id="{{ accordion_id }}" style="">
            <div class="collapsible__content body-copy--regular">{{ standards }}</div>
          </div>
        </div>
      {% endif %}
    </div>

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section section--product",
  "blocks": [
    {
      "type": "@app"
    },
    {
     "name": "Recommended Products",
     "type": "recommended-products",
     "limit": 1,
     "settings": [
        {
          "label": "Heading",
          "type": "richtext",
          "id": "heading"
        },
        {
          "label": "Heading Highlight",
          "type": "select",
          "options": [
            { "value": "standard", "label": "Standard" },
            { "value": "stroke", "label": "Stroke" },
            { "value": "circle", "label": "Circle" }
          ],
          "default": "standard",
          "id": "heading_highlight"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}
