{%- assign section_name = 'collection-hero' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{%- assign collection_image_show = section.settings.collection_image_show | default: false -%}
{%- assign collection_description_show = section.settings.collection_description_show | default: false -%}

{%- assign description = collection.description | default: '' -%}
{%- assign image = collection.image | default: false -%}
{%- assign title = collection.title | default: '' -%}

{% assign featured_product_enable = collection.metafields.collection.featured_product_enable | default: false %}
{% assign featured_product_image = collection.metafields.collection.featured_product_image | default: false %}
{% assign featured_product_description = collection.metafields.collection.featured_product_description | default: '' %}
{% assign featured_product_heading = collection.metafields.collection.featured_product_heading | default: '' %}
{% assign featured_product = collection.metafields.collection.featured_product.value | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open' %}

    {% if featured_product_enable and featured_product %}
      <div class="{{ section_name }}__featured-product">
        {% if featured_product_image %}
          <div class="{{ section_name }}__featured-product-image">
            {% render 'lazyload-image', background: true, image: featured_product_image %}
          </div>
        {% endif %}
        <div class="{{ section_name }}__featured-product-main">
          <div class="{{ section_name }}__featured-product-intro">
            {% if featured_product_heading %}
              <div class="{{ section_name }}__featured-product-heading heading--2 highlight--circle">{{ featured_product_heading }}</div>
            {% endif %}
            {% if featured_product_description %}
              <div class="{{ section_name }}__featured-product-message body-copy--1">{{ featured_product_description }}</div>
            {% endif %}
          </div>
          <div class="{{ section_name }}__featured-product-info">
            <strong class="{{ section_name }}__featured-product-title caption--2">{{ featured_product.title }}</strong>
            <span class="{{ section_name }}__featured-product-price caption--2">{% render 'price', product: featured_product %}</strong>
          </div>
          <button class="{{ snippet_name }}__button button--tertiary js--add-to-cart" type="button" data-variant-id="{{ featured_product.selected_or_first_available_variant.id }}" data-quantity="1">
            <span class="button__title">Add to Cart</span>
          </button>
        </div>
      </div>
    {% else %}
      {% if image %}
        <div class="{{ section_name }}__image">
          {% render 'lazyload-image', background: true, image: image %}
        </div>
      {% endif %}
    {% endif %}

  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Collection Hero",
  "class": "section section--collection-hero",
  "settings": [
    {
      "label": "Show collection description",
      "type": "checkbox",
      "default": true,
      "id": "collection_description_show"
    },
    {
      "label": "Show collection image",
      "type": "checkbox",
      "default": true,
      "id": "collection_image_show"
    },
    {
      "label": "Show featured product",
      "type": "checkbox",
      "default": true,
      "id": "collection_featured_product_show"
    }
  ]
}
{% endschema %}
