{%- assign section_name = 'blog' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: '' %}
{% assign hero_image = section.settings.hero_image | default: false %}
{% assign hero_info = section.settings.hero_info | default: '' %}
{% assign hero_text_colour_theme = section.settings.hero_text_colour_theme | default: 'light' %}
{% assign post_per_page = section.settings.post_per_page | default: 6 %}

{%- paginate blog.articles by post_per_page -%}

  {% if hero_heading != blank or hero_info != blank or hero_image %}
    <div class="{{ section_name }}__hero">
      {% render 'layout--container', state: 'open' %}
        <div class="{{ section_name }}__hero-main">

          {% if hero_image %}
            <div class="{{ section_name }}__hero-media">
              {%
                render 'content--lazyload-image',
                background: true,
                image: hero_image,
              %}
            </div>
          {% endif %}

          {% if hero_heading != blank or hero_info != blank %}
            <div class="{{ section_name }}__hero-content" data-text-colour-theme-{{ hero_text_colour_theme }}>
              {% if hero_heading != blank %}<h1 class="{{ section_name }}__title heading--1">{{ hero_heading }}</h1>{% endif %}
              {% if hero_info != blank %}<div class="{{ section_name }}__info body-copy--1">{{ hero_info }}</div>{% endif %}
            </div>
          {% endif %}

        </div>
      {% render 'layout--container', state: 'closed' %}
    </div>
  {% endif %}

  <div class="{{ section_name }}__main">
    {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
      <div class="{{ section_name }}__list listing--grid">
        {%- for article in blog.articles -%}
          {%- render 'card-article', article: article, classes: 'blog__article' -%}
        {%- endfor -%}
      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', classes: 'blog__pagination' col: 'col-12 col-lg-10 offset-lg-1', paginate: paginate -%}
  {%- endif -%}

{%- endpaginate -%}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Blog",
  "tag": "div",
  "class": "blog",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "content": "Content",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "label": "Info",
      "type": "richtext",
      "id": "hero_info"
    },
    {
      "label": "Text Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "hero_text_colour_theme"
    },
    {
      "content": "Media",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "hero_image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Posts per page",
      "type": "range",
      "min": 6,
      "max": 16,
      "step": 2,
      "default": 6,
      "id": "post_per_page"
    }
  ]
}
{% endschema %}
