{%- assign section_name = 'collection-hero' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{%- assign collection_featured_product_show = section.settings.collection_featured_product_show | default: false -%}
{%- assign collection_image_show = section.settings.collection_image_show | default: false -%}
{%- assign collection_description_show = section.settings.collection_description_show | default: false -%}

{%- assign description = collection.description | default: '' -%}
{%- assign image = collection.image | default: false -%}
{%- assign title = collection.title | default: '' -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open' %}
    <div class="{{ section_name }}__main">
      {% if collection_image_show and image %}
        <div class="{{ section_name }}__image">
          {% render 'lazyload-image', background: true, image: image %}
        </div>
      {% endif %}
      <div class="{{ section_name }}__layout">
        {% if collection_featured_product_show and featured_product %}
          <div class="{{ section_name }}__featured-product">

          </div>
        {% endif %}
        <div class="{{ section_name }}__info">
          <h1 class="{{ section_name }}__title">{{ title }}</h1>
          {% if collection_description_show and description %}
            <div class="{{ section_name }}__description">{{ description }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Collection Hero",
  "class": "section section--collection-hero",
  "settings": [
    {
      "label": "Show collection description",
      "type": "checkbox",
      "default": true,
      "id": "collection_description_show"
    },
    {
      "label": "Show collection image",
      "type": "checkbox",
      "default": true,
      "id": "collection_image_show"
    },
    {
      "label": "Show featured product",
      "type": "checkbox",
      "default": true,
      "id": "collection_featured_product_show"
    }
  ]
}
{% endschema %}
