{%- assign section_name = 'article' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign article_next = blog.next_article | default: false %}
{% assign article_previous = blog.previous_article | default: false %}
{% assign content = article.content | default: '' %}
{% assign cta = false %}
{% assign cta_link = section.settings.cta_link | default: '' %}
{% assign cta_title = section.settings.cta_title | default: '' %}
{% assign date_published = article.published_at %}
{% assign featured_image = article.image | default: false %}
{% assign tags = article.tags | default: '' %}
{% assign title = article.title | default: '' %}

{% if cta_link != blank and cta_title != blank %}
  {% assign cta = true %}
{% endif %}

<article class="{{ section_name }}" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="{{ section_name }}__hero">
    {% if featured_image %}
      {%
        render 'lazyload-image',
        background: true,
        classes: 'article__hero-image',
        image: featured_image,
      %}
    {% endif %}
  </div>

  <div class="{{ section_name }}__body">
    {% render 'bs-container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}

      <time class="{{ section_name }}__date" datetime="{{ date_published | date: "%Y-%m-%d" }}">{{ date_published | date: "%B %e, %Y" }}</time>

      <h1 class="{{ section_name }}__title heading--3">{{ title }}</h1>

      {% if content != blank %}
        <div class="{{ section_name }}__content rte body-copy--1">{{ content }}</div>
      {% endif %}

      {%- render 'tags', classes: 'article__tags', blog: blog, tags: tags -%}
      {%- render 'share-this', classes: 'article__share-this', title: title -%}

    {% render 'bs-container', state: 'closed' %}
  </div>

  {% if article_next or article_previous or cta %}
    <div class='{{ section_name }}__footer'>
      {% render 'bs-container', state: 'open' %}

        {% if article_next or article_previous %}
          <div class='{{ section_name }}__related-articles listing--related-articles'>
          {% if article_previous %}
            {%- render 'card-article', article: article_previous, classes: 'article__related-articles-item previous', style: 'blog' -%}
          {% endif %}
          {% if article_next %}
            {%- render 'card-article', article: article_next, classes: 'article__related-articles-item next', style: 'blog' -%}
          {% endif %}
        </div>
        {% endif %}

        {% if cta %}
          <div class="{{ section_name }}__cta">
            <a class="{{ section_name }}__cta-button button--primary" href="{{ cta_link }}" title="{{ cta_title }}">
              <span class="button__title">{{ cta_title }}</span>
            </a>
          </div>
        {% endif %}

      {% render 'bs-container', state: 'close' %}
    </div>
  {% endif %}

</article>

{% render 'json-ld', article: article, type: 'article' %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "content": "Call to Action",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "cta_link"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
